@use '../../styles/partials/mixins';
@use '../../styles/partials/variables' as vars;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    background-color: vars.$primary-color;
    color: white;
    padding:  1rem 2rem;
    border: none;
    border-radius: 4px;
    height: 3rem;

    @include mixins.tablet{
      flex: 1

    }

    @include mixins.font-size(vars.$labels-buttons-font);
  }
  
  .button:hover{
    background-color: vars.$primary-color-hover;

  }
  .button__icon {
    position:absolute;
    left: 1rem;
    width: 1.5rem; 
    height: 1.5rem;
  }

