@use '../../styles/partials/mixins';
@use '../../styles/partials/variables' as vars;

.main{

   
    &__content{
        display: flex;
        flex-direction: column;

        @include mixins.padding-x(vars.$spacing-small);

        @include mixins.tablet{
            @include mixins.padding-x(vars.$spacing-medium);
        }
        @include mixins.desktop{
            @include mixins.padding-x(vars.$spacing-large);
            flex-direction: row;
        }

    }
}