@use '../../styles/partials/mixins';
@use '../../styles/partials/gloabl';
@use '../../styles/partials/variables' as vars;

.next-video-container{
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include mixins.desktop{
        width: 70rem;
        padding: 1rem 0 2rem 1rem;
       border-left: 2px solid vars.$mercury;
       
    }
}

.subtitle{
    @extend .label;
}