@use '../../styles/partials/mixins';
@use '../../styles/partials/variables' as vars;
.comment{
    display: flex;
    flex-direction: column;

    &__form{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        margin: 1rem 0;

        @include mixins.tablet{
           padding: 1rem;
        }

        @include mixins.desktop{
            padding: 1rem 20rem;
        }
    }

    &__input {
        min-height: 2.5rem;
        width: 100%;
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid vars.$mercury;
        font-size: 1rem;
        background-color:vars.$alabaster ;
        margin-top: 4px;

        @include mixins.tablet{
            min-height: 2rem;
        }

      }

    

      &__input:focus{
        outline: 1px solid #d22d2d;
      }

      &__form-item{
        flex-basis: auto;
      }
      &__form-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
 
      }

      &__avatar{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        align-self: flex-start;
        margin-top: 1.5rem;
        align-self: flex-start;
        flex-basis: 0;

      }

      &__list{
        display: flex;
        flex-direction: column;


        // @include mixins.desktop{
        //     padding: 1rem 20rem;
        // }
      }
      
      &__info-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &__item{
        display: flex;
        gap: 1rem;
        border-top: 2px solid vars.$mercury;
        padding: 1rem 0;
      }

      &__item:last-of-type{
        border-bottom: 2px solid vars.$mercury;

      }

      &__blank-avatar{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: vars.$mercury;
        flex-shrink: 0;
      }

      &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:2rem;

        &--date{
            color: vars.$secondary-text-color;
        }
      }

      &__button-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }
      &__heart{
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 1rem;
        color: grey;
        cursor: pointer;
        .fas{
          color: red;
        }
      }

      &__delete{
        cursor: pointer;
      }
}
