@use '../../styles/partials/mixins';
@use '../../styles/partials/variables' as vars;

.main{

   
    &__content{
        display: flex;
        flex-direction: column;

        @include mixins.padding-x(vars.$spacing-small);
        @include mixins.padding-y(vars.$spacing-small);

        @include mixins.tablet{
            @include mixins.padding-x(vars.$spacing-medium);
  
        }
        @include mixins.desktop{
            @include mixins.padding-x(vars.$spacing-large);
            padding-bottom: 0;
            padding-top: 0;
            flex-direction: row;
        }

    }
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;

    &__spinner {
        width: 50px;
        height: 50px;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top-color: #3498db;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
      
  }
  
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }